/* Autores: Bruno Alessio Bibbó | Jorge Gómez Weyler 
*  Descripción: Hoja de estilos para index.html
*  Fecha: 25/11/2014 
*/
#conversacion{
	height:200px;
	display: block;
	overflow: auto;
}

.bot{
	color:#606;
}
